.modalScreen {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.344);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 26px;
  width: 300px;
  border-radius: 6px;
}

.modal>h2 {
  color: var(--dark-blue);
  font-size: 1.4rem;
}

.modal p {
  margin: 16px 0 20px 0;
  color: var(--grayish-blue);
  line-height: 20px;
  font-size: 0.9rem;
}

.no {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  background-color: var(--grayish-blue);
  color: white;
  font-weight: 400;
  margin-right: 10px;
  cursor: pointer;
}

.yes {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  background-color: var(--soft-red);
  color: white;
  cursor: pointer;
}